/* CRYPTO QUOTES SHORTCODE STYLES */
.crypto-quotes {
  margin: 15px 0;
  p {
    margin: 0;
  }

  justify-content: center;
  background-color: black;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin: 15px auto;
  }

  .crypto-quotes-slides {
    visibility: hidden;
    height: 110px;

    &.slick-initialized {
      visibility: visible;
      height: auto !important;
    }
  }

  .slick-button {
    background: transparent;
    border: 0;
    width: 26px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;

    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &.right-btn {
      right: 0;
      background-image: linear-gradient(270deg, #000 60%, hsla(0, 0%, 100%, 0));
    }

    &.left-btn {
      left: 0;
      background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #000 40%);
      z-index: 1;
      //@media screen and (max-width: 768px) {
      //  opacity: 0;
      //  pointer-events: none;
      //}
    }

    &:focus {
      outline: 0;
    }

    svg {
      width: auto;
      height: 12px;
    }

    .slick-button-wrap {
      height: 100%;
      pointer-events: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-width: 0;
    }
  }

  br {
    display: none !important;
  }

  ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 0;

    li {
      border-right: 1px solid #324149;
      font-size: 25px;
      display: flex !important;
      flex-direction: column;
      padding: 0 18px;
      color: white;
      outline-color: transparent;

      @media screen and (min-width: 768px) {
        align-items: center;
        outline: 0;
        user-select: none;
        -moz-user-select: none;
        .wrap {
          flex-direction: column;
        }
      }

      .wrap {
        display: flex;
        flex-direction: row;
      }

      .wrap-list {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &:last-child {
        border: 0
      }

      &.red {
        .change {
          color: #f41142;
        }
      }

      &.green {
        .change {
          color: #3abc98;
        }
      }

      .short-name {
        font-weight: bold;
      }

      .short-name, .price {
        font-size: 18px;
      }

      .change {
        font-size: 14px;
        color: white;
      }

      .change, .price {
        margin-top: 8px;
      }

      .crypto-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }

  .top-quotes {
    border-bottom: 1px solid #324149;
    background-color: black;
    font-size: 22px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .last-updated {
    border-top: 1px solid #324149;
    background-color: black;
    font-size: 12px;
    padding: 2px 0;
    text-align: center;
    color: #8f9496;
  }
}

@media screen and (max-width: 768px) {
  .crypto-quotes {
    margin: 15px -15px;
    .top-quotes {
      font-size: 20px;
      padding: 10px 0;
    }
    .crypto-quotes-slides {
      padding: 0 10px;
      height: 57px;
      .slick-list {
        padding: 17px 10px;
      }
    }

    ul {
      overflow-x: auto;

      li {
        flex-direction: row;
        border: 0;
        padding: 0 5px;
        justify-content: center;

        span {
          margin-top: 0 !important;
          margin: 0 8px;
        }

        .price {
          color: white;
        }

        &.green {
          .price {
            color: #3abc98;
          }
        }

        .short-name {
          margin-right: 6px;
        }

        &.red {
          .price {
            color: #f41142;
          }
        }

        .crypto-icon {
          margin-right: 0;
        }

        .change {
          display: none;
        }
      }
    }
  }
}

/* CRYPTO QUOTES WIDGET STYLES */
.crypto-quotes-widget-wrapper {
  background-color: black;
  border-top: 1px solid #324149;

  .crypto-quotes-widget {
    padding: 15px 0;
    p {
      margin: 0;
    }

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }

    .crypto-quotes-slides {
      visibility: hidden;
      height: 74px;
      display: flex;
      align-items: center;
      width: 100% !important;
      @media screen and (min-width: 768px) {
        max-width: calc(100% - 120px) !important;
      }

      &.slick-initialized {
        visibility: visible;
        height: auto !important;
      }

      .slick-list {
        width: 100%;

        .slick-track {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .wrap-column {
        display: flex;
        flex-direction: column;
      }
      .crypto-icon {
        width: 20px;
        height: 20px;
        margin-top: 3px;
        background-color: #FFF;
        border-radius: 50%;

        &.inline {
          display: inline-block;
          margin-top: 1px;
          margin-right: 5px;
        }
      }

      .change {
        margin-left: 10px;
      }

      .crypto-quote-filter-link {
        display: block;
        text-align: center;

        a {
          color: #FFF;
          font-size: 18px;
          font-weight: normal;

          &:hover,
          &.current {
            text-decoration: none;
            color: #e41f49;
          }
        }
      }
    }

    .slick-button {
      background: transparent;
      border: 0;
      width: 26px;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 1;
      pointer-events: auto;
      -webkit-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;

      &.slick-disabled {
        opacity: 0;
        pointer-events: none;
      }

      &.right-btn {
        right: 0;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(60%, #000), to(hsla(0, 0%, 100%, 0)));
        background-image: -webkit-linear-gradient(right, #000 60%, hsla(0, 0%, 100%, 0));
        background-image: -o-linear-gradient(right, #000 60%, hsla(0, 0%, 100%, 0));
        background-image: linear-gradient(270deg, #000 60%, hsla(0, 0%, 100%, 0));
      }

      &.left-btn {
        left: 0;
        background-image: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 100%, 0)), color-stop(40%, #000));
        background-image: -webkit-linear-gradient(right, hsla(0, 0%, 100%, 0), #000 40%);
        background-image: -o-linear-gradient(right, hsla(0, 0%, 100%, 0), #000 40%);
        background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #000 40%);
        z-index: 1;
        //@media screen and (max-width: 768px) {
        //  opacity: 0;
        //  pointer-events: none;
        //}
      }

      &:focus {
        outline: 0;
      }

      svg {
        width: auto;
        height: 12px;
      }

      .slick-button-wrap {
        height: 100%;
        pointer-events: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 0;
      }
    }

    br {
      display: none !important;
    }

    ul {
      list-style: none;
      padding: 10px;
      margin-bottom: 0;

      li {
        border-right: 1px solid #324149;
        font-size: 25px;
        display: flex !important;
        flex-direction: column;
        padding: 0 18px;
        color: white;
        align-items: center;
        outline-color: transparent;

        .wrap {
          display: flex;
          flex-direction: row;
        }

        @media screen and (min-width: 768px) {
          outline: 0;
          user-select: none;
          -moz-user-select: none;
        }

        &:last-child {
          border: 0
        }

        &.green {
          .change {
            color: #3abc98;
          }
        }

        &.red {
          .change {
            color: #f41142;
          }
        }

        .short-name {
          font-weight: bold;
        }

        .short-name, .price {
          font-size: 18px;
        }

        .change {
          font-size: 14px;
          color: white;
        }

        .price {
          margin-left: 10px;
        }
      }
    }

    .top-quotes {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      @media screen and (min-width: 768px) {
        .break-line {
          display: block !important;
        }
      }
    }

    .last-updated {
      border-top: 1px solid #324149;
      font-size: 12px;
      padding: 2px 0;
      text-align: center;
      color: #8f9496;
    }
  }
}

.crypto-title-tooltip {
  &.in {
    opacity: 1 !important;
  }
  .tooltip-inner {
    background-color: white;
    color: black;
  }
  .tooltip-arrow {
    border-top-color: white !important;
  }
}

@media screen and (max-width: 768px) {
  .crypto-quotes-widget-wrapper {
    .crypto-quotes-widget {
      margin: 0px -15px;
      padding: 0;
      flex-direction: column;
      .top-quotes {
        font-size: 20px;
        padding: 10px 0;
        justify-content: center;
        border-bottom: 1px solid #324149;
        span {
          font-weight: normal;
          font-size: 13px;
          padding-left: 5px;
        }
      }

      .crypto-quotes-slides {
        height: 57px;
        padding: 0 10px;
        .slick-list {
          padding: 17px 10px;
        }
      }


      ul {
        overflow-x: auto;
        padding: 0;

        li {
          flex-direction: row;
          border: 0;
          padding: 0 5px;
          justify-content: center;

          span {
            margin-top: 0 !important;
            margin: 0 8px;
          }

          .price {
            color: white;
            margin-left: 8px;
          }

          .short-name {
            margin-right: 6px;
          }

          &.green {
            .price {
              color: #3abc98;
            }
          }

          &.red {
            .price {
              color: #f41142;
            }
          }

          .wrap-column {
            flex-direction: row !important;
            &:not(.price-column) {
              .crypto-icon {
                order: -1;
              }
            }
          }

          .change {
            display: none;
          }
        }
      }
    }
  }
}
